.text_for_mistakes{
/* Текст ошибки */

position: absolute;
width: 298px;
left: 20px;
top: 43px;
bottom: -26%;

/* platform/subt */
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 126%;
/* or 15px */

/* black */
color: #0E0E0E;


}