.text_for_login{
    /* Вход / */

position: absolute;
width: 194px;
height: 60px;

top: 149px;

/* platform/h1 */
font-family: 'Stolzl';
font-style: normal;
font-weight: 400;
font-size: 60px;
line-height: 60px;

/* black */
color: #0E0E0E;

}

.text_for_register{
    /* Регистрация */

position: absolute;
width: 409px;
height: 60px;
left: 520px;
top: 149px;

/* platform/h1 */
font-family: 'Stolzl';
font-style: normal;
font-weight: 400;
font-size: 60px;
line-height: 60px;

/* subt */
color: #6D6D6D;


}

.frame_8820{
    /* Вход / */

position: absolute;
width: 194px;
height: 60px;
left: calc(50% - 194px/2 - 317px);
top: 149px;

/* platform/h1 */
font-family: 'Stolzl';
font-style: normal;
font-weight: 400;
font-size: 60px;
line-height: 60px;

/* black */
color: #0E0E0E;



/* Frame 8820 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 20px;

position: absolute;
width: 540px;
height: 190px;
left: 310px;
top: 240px;


}


._rectangle15{
/* Rectangle 15 */


    position: absolute;   
    left: 0;   
    right: 0;   
    top: 0;   
    bottom: 0;   
    /* black */
    background: #0E0E0E ;
    border: none;  

    width: 540px;
    height: 40px;


}

._rectangle15_1{
    /* Rectangle 15 */

position: absolute;
left: 0;
right: 0;

bottom: 0;
top: 61px;

/* black */
background: #0E0E0E;

width: 540px;
height: 40px;

}

._rectangle16 {  
    position: absolute;    
    left: 0;    
    right: 0;    
    top: 0;    
    bottom: 0;    
    background: #FFFFFF;    
    border-radius: 13px;    
    border: none;    
    padding: 20px;   
    font-family: 'Inter';   
    font-style: normal;   
    font-weight: 400;   
    font-size: 16px;   
    line-height: 126%;   
    color: #6D6D6D; 
    box-sizing: border-box; /* Включает padding в размеры */
}

._rectangle16:focus,
._rectangle16:hover {
    outline: none; /* Убирает обводку */
    border: none; /* Убедитесь, что обводка не добавляется */
}

/* Убираем обводку при фокусе */
._rectangle16:focus { 
    outline: none; /* Убираем стандартную обводку */
   
}

.Group8830{
   /* Group 8830 */

position: absolute;
width: 2665.32px;
height: 1333.33px;
left: -36.1px;
top: 466.91px;

opacity: 0.3;
transform: rotate(-18.08deg);
 
}

.frame8821{
    /* Frame 8821 */

width: 356px;
height: 10px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;

}

.text_for_forget_password{
    /* Забыли пароль? Восстановить */

position: absolute;
width: 184px;
height: 15px;
left: 20px;
top: 110px;

/* platform/subt */
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 126%;
/* or 15px */

/* black */
color: #0E0E0E;


}

.orange-text {
    color: #FF7510; /* Или используйте другой цвет по вашему выбору */
}

.btnnForLogin {
    margin-top: 140px; /* Увеличьте значение по мере необходимости */
}

.parent1{
    position: relative;
}

.group8830 {
    position: absolute;          /* Сохраняем начальное положение */
    right: 0;                   /* Прикрепляем к правому краю */
    top: 0;                     /* Можете настроить по желанию */
    width: auto;                /* Позволяет изображению иметь автоматическую ширину */
   
}

.bgforbtn2{

    width: 87.5px;
    height: 40px;
    
    
    background: #FF0074;
    flex: none;
    order: 0;
    flex-grow: 0;
    padding: 0px;
}








