.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3); /* Полупрозрачный фон */
    display: flex;
 justify-content: center;
    z-index: 2000;
}

.modal-content {
  position: fixed;
  background: white;
  border-radius: 40px;
  width: 64vw;
  height: 630px;
  z-index: 1001;
  margin-top: 100px;

}
.modal-content1 {
  position: fixed;
  background: white;
  border-radius: 40px;
  width: 64vw;
  height: 520px;
  z-index: 1001;
  margin-top: 100px;

}
.thefirstrow {
  display: flex;
  width: 100%;
  align-items: center; /* Центрирование по вертикали */
  margin-top: 49px;
  z-index: 2005;
}

.newpod {
  font-family: 'Stolzl';
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;
  margin-left: 49px; /* Отступ слева от текста */
  margin-right: auto; /* Используется для заполнения свободного пространства */
  color: #0E0E0E;
}

.close {
  margin-top: 20px;
  margin-right: 50px; /* Отступ справа от изображения */
  /* Используйте здесь для указания размера изображения, если нужно */
}


._rectangle15_33{
  /* Rectangle 15 */
position: absolute;
left: 0;
right: 0;

bottom: 0;
top: 270px;

/* black */
background: #0E0E0E;


}


._rectangle15_mave{
      /* Rectangle 15 */

left: 0;
right: 0;
position: absolute;
bottom: 0;
top: 200px;

/* black */
background: #0E0E0E;

width: 540px;
height: 40px;
}

.frame5_11{
/* Frame 5 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 8px 20px 7px;
gap: 5px;

position: absolute;
width: 266px;
height: 40px;
left: 0px;
top: 350px;

border-radius: 13px;
}


.frame5_21{
/* Frame 5 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 8px 20px 7px;
gap: 5px;


width: 266px;
height: 40px;
left: 0px;
top: 400px;

border-radius: 13px;
}

._rectangle15_444{
 
  position: absolute;
left: 0;
right: 0;

bottom: 0;
top: 470px;

/* black */
background: #0E0E0E;

width: 540px;
height: 40px; 
}


.btnnForRegPodcaster{
  margin-top: 20; /* Увеличьте значение по мере необходимости */
}

.text_for_login{

width: 194px;
height: 60px;

top: 149px;

/* platform/h1 */
font-family: 'Stolzl';
font-style: normal;
font-weight: 400;
font-size: 60px;
line-height: 60px;

/* black */
color: #0E0E0E;

}

.text_for_register{
  /* Регистрация */

width: 409px;
height: 60px;
left: 520px;
top: 149px;

/* platform/h1 */
font-family: 'Stolzl';
font-style: normal;
font-weight: 400;
font-size: 60px;
line-height: 60px;

/* subt */
color: #6D6D6D;


}




._rectangle15{
/* Rectangle 15 */

  border: none;  
  width: calc(100% - 50px);
  height: 40px;
}

._rectangle15_1{
  /* Rectangle 15 */


/* black */
background: #0E0E0E;
width: calc(100% - 50px);
height: 40px;

}
._rectangle15_2{
  /* Rectangle 15 */

/* black */
background: #0E0E0E;
width: calc(100% - 50px);
height: 40px;
}
._rectangle15_3{
  /* Rectangle 15 */


/* black */
background: #0E0E0E;

width: calc(100% - 50px);
height: 40px;
}
._rectangle15_4{
  /* Rectangle 15 */


/* black */
background: #0E0E0E;
width: calc(100% - 50px);

height: 40px;
}
._rectangle16 {  

  left: 0;    
  right: 0;    
  top: 0;    
  bottom: 0;    
  background: #FFFFFF;    
  border-radius: 13px;    
  border: none;    
  padding: 20px;   
  font-family: 'Inter';   
  font-style: normal;   
  font-weight: 400;   
  font-size: 16px;   
  line-height: 126%;   
  color: #6D6D6D; 
  box-sizing: border-box; /* Включает padding в размеры */
  width: 100%;
  height: 40px;
}

._rectangle16:focus,
._rectangle16:hover {
  outline: none; /* Убирает обводку */
  border: none; /* Убедитесь, что обводка не добавляется */
}

/* Убираем обводку при фокусе */
._rectangle16:focus { 
  outline: none; /* Убираем стандартную обводку */
 
}

.Group8830{


left: -36.1px;
top: 466.91px;

opacity: 0.3;
transform: rotate(-18.08deg);

}

.frame8821{
  /* Frame 8821 */

width: 356px;
height: 10px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;

}

.text_for_forget_password{

width: 184px;
height: 15px;
left: 20px;
top: 110px;

/* platform/subt */
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 126%;
/* or 15px */

/* black */
color: #0E0E0E;


}

.orange-text {
  color: #FF7510; /* Или используйте другой цвет по вашему выбору */
}

.btnnForLogin {
  margin-top: 140px; /* Увеличьте значение по мере необходимости */
}

.parent1{
  position: relative;
}

.group8830 {
 
  right: 0;                   /* Прикрепляем к правому краю */
  top: 0;                     /* Можете настроить по желанию */
  width: auto;                /* Позволяет изображению иметь автоматическую ширину */
 
}

.bgforbtn6{

  height: 40px;
  
  display: table-cell; 
  background: #FF0074;
  flex: none;
  order: 0;
  flex-grow: 0;
  padding: 0px;
}



/* form{
  height: 500px;

} */
.input1{
  width: 100%;
  height: 40px;
}
.obedinforinput{
  display: grid;
    grid-template-columns: 1fr; /* Одну колонку */
    gap: 20px; /* Отступ между элементами */
    margin-top: 31px;
    margin-left: 50px;
    /* width: 100%; */
}

.text_for_mistake{
  /* Текст ошибки */

 
 /* platform/subt */
 font-family: 'Inter';
 font-style: normal;
 font-weight: 500;
 font-size: 12px;
 line-height: 126%;
 /* or 15px */
 
 /* error */
 color: #FF0F0F;
 
 white-space: nowrap; /* Добавлено для предотвращения переноса строки */
    
 }
 .rectangle-container-error{
  /* Rectangle 15 */
  
  /* error */
  background: #FF0F0F;
  
  }
  
.rectangle-error{
  /* Rectangle 16 */
  
  background: #FFE5E5;
  
  border-radius: 13px;
  
  }
  .text_for_download{

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 134%;
/* or 21px */
text-align: center;

/* links */
color: #FF7510;

flex: none;
order: 1;
flex-grow: 0;

}

.frame5_1{
  /* Frame 5 */
  
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 5px;
  
  margin-left: 20px;
  width: 266px;
  height: 40px;

  
  border-radius: 13px;
    
  }