.video-wrapper {
    width: 100%; /* Заполняет ширину родителя */
    height: 100%; /* Заполняет высоту родителя */
    border-radius: 40px;
    border: none;
}

.video-player {
    width: 100%; /* Видеоплеер занимает всю ширину родителя */
    height: 100%; /* Видеоплеер занимает всю высоту родителя */
    object-fit: cover; /* Измените это значение на `cover`, если хотите сохранить пропорции */
    border-radius: 40px;
    border: none;
}