@font-face {
    font-family: 'Inter-MediumItalic';
    src: url('src/fonts/Inter-MediumItalic.otf') format('truetype');
  }
  @font-face {
    font-family: 'SF Pro Display';
    src: url('src/fonts/SF-Pro-Display-Light.otf') format('truetype');
  }
  @font-face {
    font-family: 'Stolzl';
    src: url('src/fonts/stolzl_regular.otf') format('truetype');
  }


.obedinenieforuser{
  /* overflow-x: hidden; */
  display: grid; /* Включаем Grid */
  grid-template-columns: 1fr; /* Одна колонка */
  gap: 31px; 
  position: relative;
/* left: 21.25%;  */
/* min-width: 76.39%; */
width: 76vw;
min-width: 900px;
overflow-y: hidden;

}




.pinkblockforuser{

/* profile */
/* Rectangle 11 */
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* main */
background: #FF0074;

}


 .button2{
        top:2.5%;
 }

 
 .bgforbtnpi2{
  width: 40px;
height: 40px;


background: #FF0074;
flex: none;
order: 0;
flex-grow: 0;

 }
 .bgforbtnpi{
  width: 196px;
height: 40px;


background: #FF0074;
flex: none;
order: 0;
flex-grow: 0;

 }
 .groupofbtnforuser{
top: 190px;
margin-left: 0px;
gap: 10px;
  width: 246px;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap; /* Чтобы предотвратить перенос строк */

 }

  .bgforbtnp{
width: auto;
height: 40px;


background: #FF0074;
flex: none;
order: 0;
flex-grow: 0;

 } 

 
 .bgforbtn2p{
  width: auto;
  height: 40px;
  
  
  background: #FF99C7;
  flex: none;
  order: 0;
  flex-grow: 0;
  
   } 


   .pocastdis{
    display: flex;
flex-direction: row;
align-items: center;
width: 800px;
   }
  
   .pocastdis p {

    white-space: nowrap;
    /* Чтобы стать подкастером необходимо набрать 100 подписчиков */

width: auto;
height: auto;
display: flex;
flex-direction: row;
align-items: center;
/* margin-right: 242px; */

/* platform/txt */
font-family: 'SF Pro Display';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 126%;
/* or 20px */

/* main */
color: #FF0074;


/* Inside auto layout */

order: 2;
flex-grow: 0;
margin-left: 10px;

}




.kos{
  width: 260px;
  height: 260px;
}




@media (max-width: 1439px) {
  .groupofbtnforuser{
   top: 170px;
   margin-left: 20px;
    gap: 10px;
      width: 246px;
    
    
     }

     .sforuser {
      position: relative;
      
      height: 230px;
      overflow-y: none;
      
      }
      .personforuser{
  
        /* image 293 */
        height: 230px;
        width: 230px;
        position: relative;
        margin-top: 91px;
        margin-left: 30px;
    
        }
      .imgforuser{
        height: 230px;
        width: 230px;
       
      }
      .obedinenieforuser{
     
        width: 76vw;
        min-width: 820px;
      overflow-y: hidden;
      
      }
      
    .thesecforuser{

   
   
    margin: 0px;
      top: 65px;
   
    }

    
    .seroeforuser{

     margin: 0px;
     top: 9px;
     margin-top: 15px;
  
    }

    .forl{
      margin-left: 0px;
    
    }
    
}


@media (min-width: 1279px) {

  .imgpod{
    display: none;
}
  .countofsubsecond {
    display: none;
  }
  .obedineniesphotopodcaster-container{
    display: none;
  }



}

@media (max-width: 1279px) {
  .maargin{
    margin-top: 20px;
  }

  .groupofbtnforuser{
    top: 160px;
    margin-left: 16px;
  }
  .bgforbtnpi{
    width: 133px;
  height: 24px;

  
   }
}

