.tabforlibraryl{
    /* Frame 6 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 10px;
/* left: 280px; */
position: relative;
left: 0px;
margin-top: 16px;
margin-left: 280px;
margin-bottom: 30px;

    /* margin-top: 48%;  */

}
.bgforbtn3{

background: #69FF12;
flex: none;
order: 0;
flex-grow: 0; 
}

.image-button-class{
    padding: 0px;
}

.simple-button-class{
    padding: 9px 20px 10px;
}
.zi{
    z-index: 1999;
}

@media (max-width: 1279px) {


    .tabforlibraryl{
        /* Frame 6 */
    
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    /* left: 280px; */
    position: relative;
    left: 0px;
    margin-top: 16px;
    margin-left: -13px;
    margin-bottom: 30px;
    
        /* margin-top: 48%;  */
    
    }
 }