
.blackblock{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #0E0E0E;
}
    
.whiteblock {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #FFFFFF;
    border-radius: 40px;
    
}

.name {
    position: absolute; 
    left: 20px; 
    right: 60.56%; 
    top: 7.41%; 

    font-family: 'Stolzl'; 
    font-style: normal; 
    font-weight: 400; 
    font-size: 20px; 
    line-height: 1.24; /* Используйте относительное значение */
    color: #0E0E0E; 
 
    max-height: calc(2 * 1.24em); /* Устанавливаем максимальную высоту для 2 строк */
    overflow: hidden; /* Скрываем переполненный текст */
    text-overflow: ellipsis; /* Добавляем многоточие, если текст длиннее */
    white-space: nowrap; /* Запретить перенос на новую строку */
 }

.subsrubes{
/* 359 тыс. подписчиков */

position: absolute;
left: 20px;
right: 63.89%;
top: 59px;
bottom: 63.33%;

/* platform/txt */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 126%;
/* or 20px */

/* black */
color: #0E0E0E;

}

.content{
/* 233 выпуска */

position: absolute;
left: 20px;
right: 77.78%;
top: 64.44%;
bottom: 28.15%;

/* platform/txt */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 126%;
/* or 20px */

/* black */
color: #0E0E0E;

white-space: nowrap; /* Запретить перенос на новую строку */


}

.btnn{
    margin-top:210px;
    margin-left: 20px;
}


.bgforbtn{
    width: 199px;

    height: 40px;
    
    
    background: black;
    flex: none;
    order: 0;
    flex-grow: 0;
    padding: 0px;

}

.photo{
    /* image 293 */
    
    position: absolute;
    width: 264px;
    height: 264px;
    right: 3px;
    top: 3px;
    
    
    border-radius: 40px;

}


.info{

}

.name{
    position: absolute; 
    left: 20px; 
    right: 60.56%; 
    top: 7.41%; 

    font-family: 'Stolzl'; 
    font-style: normal; 
    font-weight: 400; 
    font-size: 20px; 
    line-height: 1.24; /* Используйте относительное значение */
    color: #0E0E0E; 
 
    max-height: calc(2 * 1.24em); /* Устанавливаем максимальную высоту для 2 строк */
    overflow: hidden; /* Скрываем переполненный текст */
    text-overflow: ellipsis; /* Добавляем многоточие, если текст длиннее */
    white-space: nowrap; /* Запретить перенос на новую строку */
}

.subsrubes{
/* 359 тыс. подписчиков */

position: absolute;
left: 20px;
right: 63.89%;
top: 59px;
bottom: 63.33%;

/* platform/txt */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 126%;
/* or 20px */

/* black */
color: #0E0E0E;

}

.content{
/* 233 выпуска */

position: absolute;
left: 20px;
right: 77.78%;
top: 64.44%;
bottom: 28.15%;

/* platform/txt */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 126%;
/* or 20px */

/* black */
color: #0E0E0E;

white-space: nowrap; /* Запретить перенос на новую строку */
}

.bgforbtn{
    width: 198px;

    height: 40px;
    
    
    background: black;
    flex: none;
    order: 0;
    flex-grow: 0;
    padding: 0px;
}

.content{
   /* 233 выпуска */

position: absolute;
width: 100px;
height: 20px;
left: 20px;
bottom: 76px;

/* platform/txt */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 126%;
/* or 20px */

/* black */
color: #0E0E0E;

 
}

.zagalovokauthors { 
/* Александра Митрошина */

position: absolute;
height: 50px;
left: 20px;
right: 280px;
top: 0px;

/* platform/h3 */
font-family: 'Stolzl';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 124%;  /* or 25px */

/* black */
color: #0E0E0E;

/* Запрещаем перенос текста */
white-space: nowrap;  /* Текст не будет переноситься на новую строку */
overflow: hidden;     /* Если текст не помещается, он будет скрыт */
text-overflow: ellipsis; /* Если текст не помещается, будет добавлено многоточие */



}

  .sectionsubForAuthor{
   
    height: 270px;
    top: 0px;
    margin-left: 0px;
    min-width: 540px;
  }
  .picturesubForAuthor{
    /* image 293 */
    
    position: absolute;
    width: 264px;
    height: 264px;
    right: 3px;
    top: 3px;
    z-index: 100;
    
    border-radius: 40px;
    
    
    }


    
     
    .picturesub1ForAuthor{
      /* image 293 */
      
      position: absolute;
      width: 264px;
      height: 264px;
      right: 30px;
      top: 3px;
      z-index: 99;
      
      border-radius: 40px;
      
      
      }

      .vstokuForAuthor1{
        display: flex; 
        flex-direction: row; 
        align-items: center; 
        gap: 10px;
        margin-top: 210px;
        margin-left: 20px;
        padding: 0px; 
      }
      .bggfornosub{
        width: 198px;
        height: 40px;
        background: #000000;
        flex: none;
        order: 0;
        flex-grow: 0;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 126%;
    }
    .bggforsub {
      width: 144px;
      height: 40px;
      background: #FF0074;
      flex: none;
      order: 0;
      flex-grow: 0;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 126%;
    }


  @media (max-width: 1439px) {
    .sectionsubForAuthor{
      
      width: 37vw;
      /* height: 270px; */
      height: 240px;
  
      min-width: 400px;
      
     
    }
  
    .picturesubForAuthor{

      width: 234px;
      height: 234px;
      
      
      }
       
      .picturesub1ForAuthor{
      
        width: 234px;
        height: 234px;
   
        
        
        }
  
        .vstokuForAuthor1{
   
          margin-top: 180px;
        
        }
  }


  
@media (max-width: 1279px) {

  .sectionsubForAuthor{
    width: calc(100vw - 30px - 19px);
    margin-left: -5px;
    height: 144px;
    min-width: 100px;
  }
  .picturesubForAuthor{
    width: 124px;
    height: 124px;
    border-radius: 20px;
    top: 10px;
    right: 10px;
  }
  .picturesub1ForAuthor{
    width: 124px;
    height: 124px;
    border-radius: 20px;
  }
  .subtitlesub{
    font-size: 12px;
    top: 30px;
    left: 8px;
  }
  .content{
    font-size: 12px;
    top: 92px;
    left: 8px;
  }
  .zagalovokauthors{
    font-size: 14px;
    margin-bottom: 0px;
    height: 20px;
    left: 8px;
  }
  .whiteblocksub{
    border-radius: 20px;
  }
  .vstokuForAuthor1{
    margin-top: 112px;
    margin-left: 8px;
  }
  .bggfornosub{
    height: 24px;
    width: 135px;
  }
  .bggforsub{
    height: 24px;
    width: 92px;
  }
}

