@font-face {
    font-family: 'SF Pro Display-Light';
    src: url('src/fonts/SF-Pro-Display-Light.otf') format('truetype');
  }
  @font-face {
    font-family: 'SF Pro Display-Regular';
    src: url('src/fonts/SF-Pro-Display-Regular.otf') format('truetype');
  }
  @font-face {
    font-family: 'Stolzl';
    src: url('src/fonts/stolzl_regular.otf') format('truetype');
  }
.content{
    align-items: stretch;
    height: 50px;
}
.vmeste{
    display: flex;            /* Включаем Flexbox */
    flex-direction: column;  /* Располагаем элементы в столбец */
    gap: 10px;      
    
       position: relative;
    margin-bottom: 30px;     /* Расстояние между элементами */
}

.vmeste1{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    margin-top: 0px;
    position: relative; /* Устанавливаем относительное позиционирование */
    height: auto; /* Высота будет зависеть от содержимого */
    
}


.blockoftext{
    margin-bottom: 0px;
    padding-right: 30px;
    
}
.mini{
    border-radius: 50%;   
}


.te {
    max-width: calc(100% - 40px); /* Ограничиваем ширину текста */

/* left: 5.17%; */
right: 0%;
top: 32.12%;
bottom: 24.09%;
width: 76vw;
/* platform/txt */
font-family: 'SF Pro Display-Light';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 126%;
/* or 20px */

/* black */
color: #0E0E0E;
margin-top: 7px;
margin-bottom: 0px;

}
.rast{
    display: flex;                /* Используем flexbox */
    align-items: stretch;        /* Растягиваем элементы по высоте */
}

.namepost{
  font-size: 16px;
  margin-top: 0px;
  font-family: 'Stolzl';
  margin-bottom: 0px;
}

.data{
  font-family: 'SF Pro Display-Regular';
  font-size: 12px;
  color: #6D6D6D;
  margin: 0px;
}
.tochka{
    /* Frame 10 */
  
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;

  right: 30px;
  top:8px;
  position: absolute;
/*     
  right: 230px;
  top: 8px;
   */
  }
  
  
  .tochkai {
    
    /* 256 подписок */
    white-space: nowrap;
 /* float: right;   */
  
  
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  
  }
.ocenka{

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 17px;
    margin-top: 0px;
}
.podn{
   margin-top:-2px
}
.like{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 5px;
}
.comm{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 5px;
}
.repost{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 5px;
}

.kolvo{
    font-family: 'SF Pro Display-Light';
    margin: 0px;
}