.btnnForRecoveryPassword {
    margin-top: 60px; /* Добавьте отступ сверху */
    display: flex; /* Позволяет центрировать элемент */
    justify-content: center; /* Центрирует элемент по горизонтали */
}

.btnnForRecoveryPasswordTransition{
    margin-top: 120px; /* Увеличьте значение по мере необходимости */
}

.bgforbtn11{
    width: 190.5px;
    height: 40px;
    white-space: nowrap;
    
    background: #FF0074;
    flex: none;
    order: 0;
    flex-grow: 0;
    padding: 0px;
}
._rectangle15_15{
    /* Rectangle 15 */


    position: absolute;   
    left: 0;   
    right: 0;   
    top: 0;   
    bottom: 0;   
    /* black */
    background: #69FF12 ;
    border: none;  

    width: 540px;
    height: 40px;

}
