.text_for_recovery{
    /* Восстановление пароля */

position: absolute;
width: 787px;
height: 60px;
top: 149px;

/* platform/h1 */
font-family: 'Stolzl';
font-style: normal;
font-weight: 400;
font-size: 60px;
line-height: 60px;

/* black */
color: #0E0E0E;


}

.btnnForRecoveryPassword{
    margin-top: 120px; /* Увеличьте значение по мере необходимости */

}

.bgforbtn10{
    width: 186px;
    height: 40px;
    
    
    background: #FF0074;
    flex: none;
    order: 0;
    flex-grow: 0;
    padding: 0px;
}
