.library_container {
   /* Group 8786 */

position: absolute;
width: 632px;
height: 60px;
left: 306px;
top: 159px;

display: flex; /* Это позволит отображать элементы в одну строку */
align-items: center; /* Выравниваем по центру по вертикали, если нужно */
justify-content: space-between; /* Устанавливаем расстояние между элементами */

 }
 
 .zagolovok1 {
    /* Library */
 
    font-family: 'Stolzl';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    color: #0E0E0E;
    margin-right: 10px; /*  Добавляем  отступ  между  "Library"  и  "-"  */
 }
 
 .subtitle1 {
    /* — [ˈlaɪbrərɪ] (en.) библиотека */
 
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 143%;
    color: #6D6D6D;
 }
 
 .tab{
 /* Табы */
 
 /* Auto layout */
 display: flex;
 flex-direction: row;
 align-items: center;
 padding: 0px;
 gap: 10px;
 
 position: absolute;
 width: 332px;
 left: 310px;
 top: 220px;
 }
 

 
 
 
 
 