 
  .pocastdis { 
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    width: 800px; 
  }
  
  .bgforbtn { 
    width: 196px; 
    height: 40px; 
    background: #FF0074; 
    flex: none; 
    order: 0; 
    flex-grow: 0; 
    border-radius: 5px; /* Закругление углов */
    display: flex; 
    align-items: center; 
    justify-content: center; /* Центрируем содержимое */
  }

  .hovered-button-style {
    background-color: #f0f0f0; /* Цвет фона при наведении */
    color: #333; /* Цвет текста при наведении */
    border: 2px solid #007bff; /* Граница при наведении */
    transform: scale(1.05); /* Увеличение кнопки при наведении */
    transition: all 0.3s ease; /* Плавный переход */
  }

