.card-container {
    display: grid; /* Используем Grid для расположения карточек */
    grid-template-columns: repeat(2, 1fr); /* 2 колонки */
    gap: 20px; /* Устанавливаем расстояние между элементами */
    right: 30px; /* Отступ от правого края */
    margin-bottom: 30px; /* Отступ снизу */
    min-width: 37.5vw;
}





  