.container {
    position: relative; /* Убедитесь, что это установлено */
    /* padding: 30px;     Отступы вокруг контейнера */
    /* margin-left: 30px;  */
    overflow-x: hidden; 
}

.obedinen {
    justify-content: flex-end; /* Выравниваем элементы по правому краю */
    position: absolute;
    display: grid; /* Включаем CSS Grid */
    grid-template-columns: 1fr; /* Одна колонка */
    gap: 20px; /* Устанавливаем расстояние между элементами */
    right: 30px; /* Отступ от правого края */
    top: 19.875%; 
    overflow-x: hidden;
}

.obedinen1{
   
    display: flex;            /* Включаем Flexbox */
    flex-direction: column;  /* Располагаем элементы в столбец */
    gap: 30px;   
    overflow-x: hidden;

}

.o{
    right: 30px;
    overflow-x: hidden;
}