/* .modal-overlay2 {
  position: relative;
  top: 0;
 
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: calc(100vh);
  background: rgba(0, 0, 0, 0.3);
  z-index: 2000;
 
} */


.modal-content2 {
  position: relative; /* Также относительное позиционирование */
  background: white;
  border-radius: 40px;
  width: 64vw;
  max-height: calc(100vh - 100px);
  overflow: auto; /*  Возможно, потребуется overflow: auto для содержимого модального окна */
  z-index: 1001;
  padding: 20px;
  z-index: 2001;
  box-sizing: border-box;
  overflow: hidden;
  margin-top: 100px;
}

.thefirstrow {
  display: flex;
  width: 100%;
  align-items: center; /* Центрирование по вертикали */
  margin-top: 49px;
  z-index: 2005;
}

.newpod {
  font-family: 'Stolzl';
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;
  margin-left: 49px; /* Отступ слева от текста */
  margin-right: auto; /* Используется для заполнения свободного пространства */
  color: #0E0E0E;
}

.close {
  margin-top: 20px;
  margin-right: 50px; /* Отступ справа от изображения */
  /* Используйте здесь для указания размера изображения, если нужно */
}

.forauthorssection{
  margin-left: -225px;
  margin-top: 30px;
  width: calc(90vw);
}

.countofsubcribes{
  display: flex;
  flex-direction: row;
}
.countofsubcribes2{


/* platform/h3 */
font-family: 'Stolzl';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 124%;
/* identical to box height, or 25px */
margin-right: auto;
margin-top: 2px;
/* subt */
color: #6D6D6D;


}
.newpod1 {
  font-family: 'Stolzl';
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;
  margin-left: 49px; /* Отступ слева от текста */
  margin-right: 20px; /* Используется для заполнения свободного пространства */
  color: #0E0E0E;
}

@media (max-width: 1279px) {
  .modal-content2 {

    border-radius: 20px;
    width: 99vw;
    top: 100px;
  
    
  }
  .newpod1 {
    font-family: 'Stolzl';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 60px;
    margin-left: 16px; /* Отступ слева от текста */
    margin-right: 8px; /* Используется для заполнения свободного пространства */
    color: #0E0E0E;
  }
  .countofsubcribes2{

    font-family: 'Stolzl';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 124%;
    margin-top: 5px;
    color: #6D6D6D;


  }
  .forauthorssection{

  }

}