.uslovie{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
  }
  .textformodal{

/* platform/txt */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 126%;
/* or 20px */
text-align: center;

/* black */
color: #0E0E0E;

margin: 0;
padding: 0;
/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


  }
  .textformodal1{

    /* platform/txt */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 126%;
    /* or 20px */
    text-align: center;
    
    /* black */
    color: red;
    
    margin: 0;
    padding: 0;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    
    
      }
  .uslovie2{
    display: grid; /* Включаем Grid */
    grid-template-columns: 1fr; /* Одна колонка */
    gap: 6px; 
    margin-left: 20px;
    margin-top: 18px;
 
  }

  .radiobuttn{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;


/* black */
color: #0E0E0E;

margin: 0;
margin-top: 15px;
padding: 0;

  }
  .radiobuttn input[type='radio'] {
    margin-right: 10px; /* Увеличение отступа справа от радиокнопки */
  }

  .radiobuttn input[type="radio"] {
    appearance: none; /* Убираем стандартное отображение радиокнопки */
    width: 10px;  /* Устанавливаем ширину радиокнопки */
    height: 10px; /* Устанавливаем высоту радиокнопки */
    border: 2px solid #ccc; /* Устанавливаем светло-серую границу */
    border-radius: 50%; /* Делаем форму круглыми */
    outline: none; /* Убираем обвод вокруг кнопки при фокусе */
    cursor: pointer; /* Меняем курсор на указатель */
    position: relative; /* Позволяет использовать абсолютное позиционирование для внутреннего круга */
}

/* При выборе радиокнопки */
.radiobuttn input[type='radio']:checked {
    border-color: #6D6D6D; /* Устанавливаем цвет границы при выборе */
}

/* Внутренний круг */
.radiobuttn input[type='radio']:checked::after {
    content: '';
    position: absolute;
    left: 50%; /* Центрируем */
    top: 50%; /* Центрируем */
    width: 5px; /* Устанавливаем размер внутреннего круга */
    height: 5px; /* Устанавливаем размер внутреннего круга */
    border-radius: 50%; /* Делаем внутренний круг круглым */
    background-color: #FF0074; /* Цвет внутреннего круга */
    transform: translate(-50%, -50%); /* Центрируем внутренний круг */
}


.radiobuttn1{

  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;


/* black */
color: #0E0E0E;

margin: 0;
padding: 0;

}
.radiobuttn1 input[type='radio'] {
  margin-right: 10px; /* Увеличение отступа справа от радиокнопки */
}

.radiobuttn1 input[type="radio"] {
  appearance: none; /* Убираем стандартное отображение радиокнопки */
  width: 10px;  /* Устанавливаем ширину радиокнопки */
  height: 10px; /* Устанавливаем высоту радиокнопки */
  border: 2px solid #ccc; /* Устанавливаем светло-серую границу */
  border-radius: 50%; /* Делаем форму круглыми */
  outline: none; /* Убираем обвод вокруг кнопки при фокусе */
  cursor: pointer; /* Меняем курсор на указатель */
  position: relative; /* Позволяет использовать абсолютное позиционирование для внутреннего круга */
}

/* При выборе радиокнопки */
.radiobuttn1 input[type='radio']:checked {
  border-color: #6D6D6D; /* Устанавливаем цвет границы при выборе */
}

/* Внутренний круг */
.radiobuttn1 input[type='radio']:checked::after {
  content: '';
  position: absolute;
  left: 50%; /* Центрируем */
  top: 50%; /* Центрируем */
  width: 5px; /* Устанавливаем размер внутреннего круга */
  height: 5px; /* Устанавливаем размер внутреннего круга */
  border-radius: 50%; /* Делаем внутренний круг круглым */
  background-color: #FF0074; /* Цвет внутреннего круга */
  transform: translate(-50%, -50%); /* Центрируем внутренний круг */
}

.linesforradiobtn {
  position: relative; /* Позволяет позиционировать псевдоэлемент */
  padding-bottom: 24px; /* Отступ от нижней части контейнера */
}

/* Псевдоэлемент для линии */
.linesforradiobtn::after {
  content: '';
  position: absolute;
  left: -5px; /* Расстояние от левого края контейнера */
  right: 40px; /* Расстояние от правого края контейнера */
  bottom: 0; /* Позиционируем линию внизу контейнера */
  height: 1px; /* Толщина линии */
  background-color: #ECECEC; /* Цвет линии */
}


._rectangle166::placeholder {  

  left: 0;    
  right: 0;    
  top: 0;    
  bottom: 0;    
  background:none;    
   
  border: none;    

  font-family: 'Inter';   
  font-style: normal;   
  font-weight: 400;   
  font-size: 16px;   
  line-height: 126%;   
  color: #6D6D6D; 
 
}
._rectangle166 {  
     
   width: calc(100% - 22px);
   padding-left: 20px;
   margin-top: -0.7px;
 
   padding-top: 0px;
   padding-bottom: 1.5px;
   height: calc(100% - 0px);   
    background: #FFFFFF;    
    border-radius: 13px;    
    border: none;    
    
    font-family: 'Inter';   
    font-style: normal;   
    font-weight: 400;   
    font-size: 16px;   
    line-height: 126%;   
    color: #000000; 
 
}

._rectangle166:focus,
._rectangle166:hover {
    outline: none; /* Убирает обводку */
    border: none; /* Убедитесь, что обводка не добавляется */
}

/* Убираем обводку при фокусе */
._rectangle166:focus { 
    outline: none; /* Убираем стандартную обводку */
} 

.modal-contentbepod{
  position: absolute; /* Позиционирование изменено на absolute */
  background: white;
  border-radius: 40px;
  width: 64vw;
  height: 630px;
  z-index: 1001;
  margin-top: 100px; /* Отступ сверху для модального окна */
  top: 50%; /* Центрируем по вертикали */
  transform: translateY(-50%); /* Сдвигаем вверх на половину высоты модалки */

}
.obedinforinputbepod {
  margin-left: 49px;
  margin-top: 36px;
  gap: 8px;
}

.inbepod{
  margin-left: 24px;
  margin-top: 16px;
  margin-bottom: 30px;
}
.btnnForBePodcaster1{
  position: absolute;
  margin-top: 84px;
}
.bgforbtnbepod{

height: 39px;
background: #FF0074;
display: flex;
justify-content: center; /* Центрирование по горизонтали */
align-items: center; /* Центрирование по вертикали */
width: 195px;

 }

@media (min-width: 1279px) {
  .btnnForBePodcaster2{
    display: none;
  }
}

@media (max-width: 1279px) {
  .btnnForBePodcaster2{
    position: absolute;
   top: 520px;
  }
  .modal-contentbepod {
    position: absolute; /* Позиционирование изменено на absolute */
    background: white;
    border-radius: 20px;
    width: 99vw;
    height: 600px;
    z-index: 1001;
    top: 293px; /* Отступ сверху для модального окна */
   
    transform: translateY(-50%); /* Сдвигаем вверх на половину высоты модалки */
  }
  .txtformbl{
    font-size: 12px;
  }
  .textformodal{
    font-size: 12px;
  }
  
  .radiobuttn{
    margin-top: 8px;
    font-size: 12px;
    display: grid;
    grid-template-columns: auto 1fr; /* Одна колонка для radio, другая для label */
    align-items: center; /* Выравнивает элементы по вертикали */
    grid-gap: 8px; /* Зазор между радиокнопкой и текстом */
    margin-bottom: 8px;
  


  }
  .radiobuttn input[type='radio'] {
    margin-right: 0px; /* Увеличение отступа справа от радиокнопки */
  }

  .radiobuttn input[type="radio"] {
    appearance: none; /* Убираем стандартное отображение радиокнопки */
    width: 10px;  /* Устанавливаем ширину радиокнопки */
    height: 10px; /* Устанавливаем высоту радиокнопки */
    border: 2px solid #ccc; /* Устанавливаем светло-серую границу */
    border-radius: 50%; /* Делаем форму круглыми */
    outline: none; /* Убираем обвод вокруг кнопки при фокусе */
    cursor: pointer; /* Меняем курсор на указатель */
    position: relative; /* Позволяет использовать абсолютное позиционирование для внутреннего круга */
}

/* При выборе радиокнопки */
.radiobuttn input[type='radio']:checked {
    border-color: #6D6D6D; /* Устанавливаем цвет границы при выборе */
}

/* Внутренний круг */
.radiobuttn input[type='radio']:checked::after {
    content: '';
    position: absolute;
    left: 50%; /* Центрируем */
    top: 50%; /* Центрируем */
    width: 5px; /* Устанавливаем размер внутреннего круга */
    height: 5px; /* Устанавливаем размер внутреннего круга */
    border-radius: 50%; /* Делаем внутренний круг круглым */
    background-color: #FF0074; /* Цвет внутреннего круга */
    transform: translate(-50%, -50%); /* Центрируем внутренний круг */
}


.radiobuttn1{

  display: grid;
  grid-template-columns: auto 1fr; /* Одна колонка для radio, другая для label */
  align-items: center; /* Выравнивает элементы по вертикали */
  grid-gap: 8px; /* Зазор между радиокнопкой и текстом */

}
.radiobuttn1 input[type='radio'] {

  margin-right: 0px; /* Увеличение отступа справа от радиокнопки */

}

.radiobuttn1 input[type="radio"] {
  appearance: none; /* Убираем стандартное отображение радиокнопки */
  width: 10px;  /* Устанавливаем ширину радиокнопки */
  height: 10px; /* Устанавливаем высоту радиокнопки */
  border: 2px solid #ccc; /* Устанавливаем светло-серую границу */
  border-radius: 50%; /* Делаем форму круглыми */
  outline: none; /* Убираем обвод вокруг кнопки при фокусе */
  cursor: pointer; /* Меняем курсор на указатель */
  position: relative; /* Позволяет использовать абсолютное позиционирование для внутреннего круга */
}

/* При выборе радиокнопки */
.radiobuttn1 input[type='radio']:checked {
  border-color: #6D6D6D; /* Устанавливаем цвет границы при выборе */
}

/* Внутренний круг */
.radiobuttn1 input[type='radio']:checked::after {
  content: '';
  position: absolute;
  left: 50%; /* Центрируем */
  top: 50%; /* Центрируем */
  width: 5px; /* Устанавливаем размер внутреннего круга */
  height: 5px; /* Устанавливаем размер внутреннего круга */
  border-radius: 50%; /* Делаем внутренний круг круглым */
  background-color: #FF0074; /* Цвет внутреннего круга */
  transform: translate(-50%, -50%); /* Центрируем внутренний круг */
}

.linesforradiobtn {
  position: relative; /* Позволяет позиционировать псевдоэлемент */
  padding-bottom: 8px; /* Отступ от нижней части контейнера */
}

/* Псевдоэлемент для линии */
.linesforradiobtn::after {
  content: '';
  position: absolute;
  left: 5px; /* Расстояние от левого края контейнера */
  right: 16px; /* Расстояние от правого края контейнера */
  bottom: 0; /* Позиционируем линию внизу контейнера */
  height: 1px; /* Толщина линии */
  background-color: #ECECEC; /* Цвет линии */
}
.linesforradiobtn{
  padding-bottom:16px;
}
.obedinforinputbepod {
  margin-left: 14px;
  margin-top: -10px;
  gap: 8px;
}
.btnnForBePodcaster1{
  display: none;
}
.btnnForBePodcaster{
  display: none;
}
.txtformbl{
  margin-bottom: -4px;
}
.uslovie2{
  margin-top: 16px;
}
.textformodal1{
  font-size: 12px;
}
._rectangle166{
  height: 24px;
  font-size: 12px;   
  line-height: 126%;   
  border-radius: 7px;
  padding-left: 8px;
  width: calc(100vw - 53px);
  padding: 0;
  padding-left: 8px;
}
._rectangle166::placeholder {  
font-size: 12px;
 
}


.bgforbtnbepod{

  height: 23px;
  background: #FF0074;
  display: flex;
  justify-content: center; /* Центрирование по горизонтали */
  align-items: center; /* Центрирование по вертикали */
  width: auto;
  
   }
}