@font-face {
    font-family: 'Stolzl';
    src: url('C:\Users\Юлия\Desktop\FULLSTAK\frontend\src\fonts\stolzl_regular.otf') format('truetype');
  }

  @font-face {
    font-family: 'SF Pro Display';
    src: url('C:\Users\Юлия\Desktop\FULLSTAK\frontend\src\fonts\SF-Pro-Display-Light.otf') format('truetype');
  }

.card {
  background: white; /* Цвет фона карточки */
  border-radius: 10px; /* Закругление углов */
  display: flex; /* Используем Flexbox для размещения элементов */
  flex-direction: column; /* Вертикальное направление размещения */
  overflow: hidden; /* Скрываем лишние части */
  width: 100%; /* Занимает всю ширину доступного пространства */
}

.blackblock{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #0E0E0E;
    }
    
    .whiteblock {
    
    
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    
    background: #FFFFFF;
    border-radius: 40px;
    
    }
    
    section {
    /* card */

    width: 37,5vw;
    height: 270px;
    right:30px;
    top: 320px;
    }
    

    
    .zagalovok{

      white-space: nowrap;   /* Запретить перенос текста */
      overflow: hidden;       /* Скрыть часть текста, если он не помещается */
      text-overflow: ellipsis; /* Добавить многоточие в конце, если текст не помещается */  
    /* Деньги пришли */
    
    position: absolute;
    width: 165px;
    height: 25px;
    left: 20px;
    top: 20px;
    
    /* platform/h2 */
    font-family: 'Stolzl';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 124%;
    /* identical to box height, or 25px */
    
    /* black */
    color: #0E0E0E;
    }

    .container1{
      width: 300px; 
    }
    
    .subtitle {

    white-space: nowrap;   /* Запретить перенос текста */
    overflow: hidden;       /* Скрыть часть текста, если он не помещается */
    text-overflow: ellipsis; /* Добавить многоточие в конце, если текст не помещается */  

       /* Семейный бюджет */
    
    position: absolute;
    width: 135px;
    height: 20px;
    left: 20px;
    top: 54px;
    
    /* platform/txt */
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 126%;
    /* or 20px */
    
    /* black */
    color: #0E0E0E;
    
     
    }
    
    .hashtags {
/* Категории */ 
     
position: absolute; 
height: 24px; 
left: 3.7%; 
right: 53.7%; 
top: 84px; 
 
/* Frame 9 */ 
 
/* Auto layout */ 
display: flex; 
flex-direction: row; 
align-items: flex-start; 
padding: 0px; 
gap: 10px; 
 
position: absolute; 
width: 288px; 
height: 20px; 
 
/* #воспитание */ 
 
/* platform/txt */ 
font-family: 'SF Pro Display'; 
font-style: normal; 
font-weight: 400; 
font-size: 16px; 
line-height: 126%; 
/* or 20px */ 
 
/* fourth */ 
color: #FF7510; 
 
 
/* Inside auto layout */ 
flex: none; 
order: 2; 
flex-grow: 0; 
 
overflow: hidden; /* Скрываем текст, выходящий за пределы блока */
}


.hastags1{
  /* #образование */


height: 20px;

/* platform/txt */
font-family: 'SF Pro Display';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 126%;
/* or 20px */

/* fourth */
color: #FF7510;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

}
    
    .time{
        /* 34 мин. */
    
    position: absolute;
    width: 55px;
    height: 20px;
    left: 20px;
    top: 114px;
    
    /* platform/txt */
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 126%;
    /* or 20px */
    
    /* subt */
    color: #6D6D6D;
    
    
    }
    
    .picture{
    /* image 293 */
    
    position: absolute;
    width: 264px;
    height: 264px;
    right: 3px;
    top: 3px;
    
    
    border-radius: 40px;
    
    
    }
    
    .container{
    
    /* author */
    
    position: absolute;
    width: 137px;
    height: 40px;
    left: 20px;
    bottom: 70px;
    
    
    
    }
    
    .text1{

    white-space: nowrap;   /* Запретить перенос текста */
    overflow: hidden;       /* Скрыть часть текста, если он не помещается */
    text-overflow: ellipsis; /* Добавить многоточие в конце, если текст не помещается */    
    /* Альфа-Банк */
    
    position: absolute;
    left: 36.5%;
    right: 0%;
    top: 5%;
    bottom: 45%;
    
    /* platform/txt */
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 126%;
    /* or 20px */
    
    /* black */
    color: #0E0E0E;
    
    
    }
    
    .text2{

    white-space: nowrap;   /* Запретить перенос текста */
    overflow: hidden;       /* Скрыть часть текста, если он не помещается */
    text-overflow: ellipsis; /* Добавить многоточие в конце, если текст не помещается */ 

    /* 123 подписчика */
    
    position: absolute;
    left: 36.5%;
    right: 1.46%;
    top: 55%;
    bottom: 7.5%;
    
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 126%;
    /* or 15px */
    
    /* black */
    color: #0E0E0E;
    
    
    }
    
    .button {
      /* btn */ 
      position: absolute; 
      width: 110px; 
      height: 40px; 
      left: 0px; 
      bottom: -50px; 
    
      /* Frame 5 */ 
      display: flex; 
      flex-direction: row; 
      align-items: center; 
      padding: 9px 20px 10px; 
      gap: 5px; 
    
      /* main */ 
      background: #FF0074; 
      border-radius: 13px; 
      border: none; /* Убирает обводку вокруг кнопки */
      outline: none; /* Убирает контур при фокусе, если он есть */
    
      /* Поиск */ 
      text-align: center; /* Центрирует текст горизонтально */ 
      font-family: 'Inter'; 
      font-style: normal; 
      font-weight: 500; 
      font-size: 16px; 
      line-height: 134%; /* or 21px */ 
      color: #FFFFFF; 
    
      /* Inside auto layout */ 
      flex: none; 
      order: 0; 
      flex-grow: 0; 
    }
    
    
    
    